body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 span {
    font-family: 'Capriola', sans-serif;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #5094f0;
}

/* img {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
} */

h1 {
   
    font-size: 40px;
}


